/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";


html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
}

.container {
  @media (max-width: 1199.98px) {
    max-width: 100%;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
