.home-image-container {
  background-image: url("https://images.pexels.com/photos/2159093/pexels-photo-2159093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: calc(100% - 60px);
  width: 100%;
}

footer {
  border-top: 0 !important;
}
